/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-nov-2017, 19:30:52
    Author     : marcf y Sergio
*/


                                    /*MENUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUU*/
        
    body{
    font-size: 17px;
    height: 80px;
    }                               
                                    
    #main {
        position: relative;
        min-height: 700px;
    }
    header {
        background: #322E2D;
        height: 70px;
        width: 100%;
        display: table;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
    }
    header .container {
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }

    .menu_bar{
        display: none;

    }

    .header-logo {
        float: left;
        height: 100%;
        display: inline-block;
        text-align: center;
        position: relative;
        z-index: 2;
    }
    #menu{
        display: block;
    }

    #menu ul.top-menu {
        list-style: none;
        padding: 0;
        margin: 0;
        display: block;
        display: flex;
        justify-content: center;

    }

    #menu ul.top-menu li {
        display: inline-block;
        float: left;
        margin: 0;
        margin-right: 10px;
        position: relative;
        hover color: #E75A3A;
    }

    #menu .sub-container ul.sub-menu li:hover a{ background: #E75A3A !important; color: #fff !important;}
    #menu ul.top-menu li:hover .sub-container ul.sub-menu li a{ color: #ccc;}
    #menu ul.top-menu li:hover a{color: #fff; background: #E75A3A;}






    #menu ul.top-menu li a {
        height: 60px;
        line-height: 60px;
        margin: 0;
        padding: 0 15px;
        text-align: center;
        font-size: 25px;
        font-weight: 400;
        color: rgba(255,255,255,0.7);
        background: rgba(255,255,255,0.05);
        border-radius: 3px;
        display: inline-block;
        border-left: none;
        position: relative;
        margin: 23px 0;
    }


    #menu ul.top-menu li a span.li-text {
        display: block;
        text-align: center;
    }

    #logo {
        background-image: url(../imagenes/logo.jpg);
        background-position: 50% 25%;
        background-size: cover;
        height: 161px;
        width: 154px;
        margin: 0px 21px;
        display: inline-block;
    }



    a {
        color: #333;
        text-decoration: none !important;
        outline: none;
        -moz-outline: none;
    }

    #top-user {
        float: right;
        height: 198px;
        padding: 50px 25px;
        position: relative;
        z-index: 2;

    }

    /*separacion entre menu y contenido*/        
    .headerPad {
        height: 200px;
    }

    #marginLogin{
        margin-top: 74px;
        margin-left: 12%;
    }

    #loginPop{
        color: white;
        font-size: 42px;
        margin-right: 10%;
        font-family: -webkit-pictograph;
    }

    .letraLogin{
    }    
    #HitBee{
        background-image: url(../imagenes/FotoHit.png);
        background-repeat: no-repeat;
        background-position: bottom;
        height: 87px;
        width: 285px;
        display: inline-block;
    }
        

                                            /*MENU RESPONSIVEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE*/
    .navResponsive {
            display: none;
            background:#023859;
            z-index:1000;
            max-width: 1000px;
            width:95%;
            margin:20px auto;
    }

    .ulResponsive {
            list-style:none;
    }

    .liResponsive {
            display:inline-block;
            position: relative;
    }

    .liResponsive:hover {
            background:#E6344A;
    }

    .aResponsive{
            color:#fff;
            display:block;
            text-decoration:none;
            padding: 20px;
    }

    .spanResponsive{
            margin-right:10px;
    }






                                                    /* BODYYYYYYYYYYYYYYYYYYYYYYYYYY*/
                        
    .fotoBack{
    background-image: url(../imagenes/Gym-desktop-background.jpg);

    }                  
                                                    
    .bodyEjercicios{
       padding-top: 20px;
       padding-bottom: 40px;
    }
                                                    
                                                    
    #bodyText div{
        font-size: 51px;
        font-family: serif;
        margin: 0 auto;
        width: 24%;
        text-shadow: black 0.1em 0.1em 0.2em;
            color: lavenderblush;
    }
                                                    
    .bordeChuloAbajo{margin: 0px auto; font-size: 20px; border: 3px #e6e6e6 solid}
    .bordeChuloAbajo:hover{
          border-bottom:3px solid ;
          border-bottom-color: blue;  }

    .bordeChulo{
        border:3px white solid ;
        margin: 0px;
        padding: 0%;
        width: 354px;
        height: 278px;
        border:3px white solid ;
        background-repeat: no-repeat;
        background-size: cover;
        float: left;
        font-size: 54px;
        border-radius: 15px;
    }
    .bordeChulo:hover{
        border:3px solid ;
        border-color: blue;
        margin: 0px;

    }

    .bordeChulo1{
        border:3px white solid ;
        border-radius: 15px;
    }
    .bordeChulo1:hover{
        border:3px solid ;
        border-color: blue;
        margin: 0px;

    }
    
    .info{
        margin: 0%;
        width: 50vh;
        height: 50vh;
        background-color:rgba(31,31,31,0.9);
        color: white;
        padding-top: 5%; 
        /*Animacion background*/
        -webkit-transition: opacity 0.4s;
        -moz-transition: opacity 0.4s; 
        opacity: 0;
        border-radius: 15px;
    }
    .info p{
        /*Animacion texto*/
        overflow: hidden;
        -webkit-transition: margin 0.4s;
        -moz-transition: margin 0.4s;
    }

    .info:hover p{
        overflow: hidden;
        margin-left: 15%;
        text-align: center;
    }
    .bordeChulo:hover *.info{

     opacity: 1; 

    }

    /*para quitar cuando se marca la url*/
    a{text-decoration: none; color:black;}
    a:hover{text-decoration: none; color:black;}

    
    
    .Pecho{margin-right: 0px; }
    .Pecho div p{margin: -4px 32px 45px;}
    .Pecho div .series{color: white;text-align: left;text-align: -webkit-center;width: 40%;float: left;margin: auto;margin-left: 34px;font-size: 40px}
    .Pecho div .tiempo{color: white;text-align: left;text-align: -webkit-center;width: 40%;float: left;margin: auto;font-size: 40px}
    
    .Hombro-Espalda{margin-right: 0px;}
    .Hombro-Espalda div p{margin: -33px 32px 0px;}
    .Hombro-Espalda div .series{color: white;text-align: left;text-align: -webkit-center;width: 40%;float: left;margin: auto;margin-left: 34px;font-size: 40px}
    .Hombro-Espalda div .tiempo{color: white;text-align: left;text-align: -webkit-center;width: 40%;float: left;margin: auto;font-size: 40px}

    
    
    .Brazo{margin-right: 0px;}
    .Brazo div p{margin: -4px 32px 45px; font-size: 46px}
    .Brazo div .series{color: white;text-align: left;text-align: -webkit-center;width: 40%;float: left;margin: auto;margin-left: 34px;font-size: 40px}
    .Brazo div .tiempo{color: white;text-align: left;text-align: -webkit-center;width: 40%;float: left;margin: auto;font-size: 40px}

    .Abs{margin-left: 211px !important;clear: both}
    .Abs div p{margin: -4px 32px 45px;}    
    .Abs div .series{color: white;text-align: left;text-align: -webkit-center;width: 40%;float: left;margin: auto;margin-left: 34px;font-size: 40px}
    .Abs div .tiempo{color: white;text-align: left;text-align: -webkit-center;width: 40%;float: left;margin: auto;font-size: 40px}

    .Pierna{}
    .Pierna div p{margin: -4px 32px 45px;}
    .Pierna div .series{color: white;text-align: left;text-align: -webkit-center;width: 40%;float: left;margin: auto;margin-left: 34px;font-size: 40px}
    .Pierna div .tiempo{color: white;text-align: left;text-align: -webkit-center;width: 40%;float: left;margin: auto;font-size: 40px}


    
    
                                                        /* TRIANGULO Y BOCADILLO*/

    
    
    .divNiveles1, .divNiveles2, .divNiveles3, .divNiveles4, .divNiveles5{clear: both;width: 96.5%;border: solid 5px white;margin: 0px 0px 15px 15px;float: left;}

    
    .triangulo1,.triangulo2,.triangulo3,.triangulo4,.triangulo5 {width: 0;height: 0;clear: both;border-right: 50px solid transparent;border-left: 50px solid transparent;border-bottom: 50px solid white;}


    #tema0{}
    #tema1{}
    #tema2{}
    #tema3{}
    #tema4{}
    
    
    
                                                            /*FOTERRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR*/
    footer{
    padding: 20px 0 20px;
    color: #fff;
    position: relative;
    background: #322E2D;
    }
    
    .footer-home {
    padding: 0;
    font-size: 22px;
    color: white;    
    }
                                                            
                                                            
                                                            
                                                            /*EJERCICIOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOS*/
    #textoAyuda{
        opacity: 0;
    }


    .bordesCirculares{
     border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border: 0px solid #000000;}

                                                /*/ Tablets en horizonal y escritorios normales*/
                                                   /*------------------------------------------------------------------------- /*/
    @media (max-width: 1299px) { 

        #loginPop{
                font-size: 36px;
            }
    }

    @media (max-width: 1199px) { 

        
        .headerPad{
            height: 92px;
        }

        .letraLogin{
            font-size: 30px;

        }
        .menu_bar{
            display: block;
            margin: 13px 0px;
            font-size: 40px;
        }

        .header-logo{
            display: none;
        }

        #menu{
            display: none;
        }

        #top-user {
            height: auto;
            padding: 0px;
            margin: 20px 0px;
        }

        #marginLogin{margin: auto}

        .iconoLogin{
            font-size: 39px;
            vertical-align: text-top;
            margin-right: 3px;
        }

        .iconoMenu{
            font-size: 42px;
            vertical-align: text-top;
            margin-right: 3px; 
            margin-left: 23px;

        }

        #loginPop{margin-left: 18%}
        
        
        
        
        

                                                                   /* MENU RESPONSIVE   */

        .navResponsive{
            display: block;
            width: 80%;
            position: fixed;
            right:100%;
            margin: 0;
        }

        .liResponsive{
            display: block;
            border-bottom:1px solid rgba(255,255,255,.5);
        }

        .aResponsive{
            display: block;
        }

        .ulResponsive{
            margin-top: 0;
            margin-bottom: 0px;
            margin-left: -41px;
            
            
        }
        
                                                                   /* BODY  */
         
        #bodyText div {width: 30%;}                                                          
                                                                   
        .Abs{margin-left: 15px !important;clear: none}
                                                           
        .Pecho {margin-left: 105px !important;}
        
        .Brazo {margin-left: 105px !important;}    
    
        .Pierna {margin-left: 296px !important;}    

    }
    
    @media (max-width: 991px) { 
     /* start of large tablet styles */

        
        .letraLogin{
            display: none;
        }
        #marginLogin{
            margin: 0px 42%;    
        }

        #HitBee{
            height: 74px;
            margin: 6px 0px;
        }

        #loginPop{
            margin-left: auto;
        }


        
                                                                   /* BODY  */
                                                
                                                                   
        #bodyText div {width: 39%;font-size: 51px}                                                          
        
        .bordeChulo {
            width: 269px;
            height: 212px;
        }
   
        
        .Pecho {margin-left: 80px !important;}
        
        .Brazo {margin-left: 80px !important;}    
    
        .Pierna {margin-left: 225px !important;}  
        
        
       
    }
    
    
    
    @media screen and (max-width: 767px) {
    #bodyText div {
        width: 50%;
        font-size: 50px;
    }
        
    .Pecho {margin-left: 0px !important;;}
        
    .Brazo {margin-left: 0px !important;;}    
    
    .Pierna {margin-left: 147px !important;}

     
     .container {
        width: 591px;
    }
     
     
    }

    
    
    
    
    
    
    
    
    @media screen and (max-width: 605px) {
         
    .bordeChulo {
        width: 370px;
        height: 292px;
    }    
    
    
    #bodyText div {
    width: 73%;
    font-size: 50px;
    }
        
    .Pecho {margin-left: 0px !important;;}
    .Hombro-Espalda{margin-left: 0px !important;;}
    .Brazo {margin-left: 0px !important;;}    
    .Abs {margin-left: 0px !important;;}    
    .Pierna {margin-left: 0px !important;}

     
     .container {
        width: 400px;
    }        
        
   
    }
    
    
    @media screen and (max-width: 440px) {
    
    
    .bordeChulo {
        width: 298px;
        height: 236px;
    }    
    
    
    #bodyText div {
     width: 67%;
     font-size: 37px;
    }
    
     
     .container {
        width: 330px;
    }    
    
    
    
    
    }