/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-nov-2017, 19:30:52
    Author     : marcf y Sergio
*/


                                    /*MENUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUU*/
        
    .bodyUsuario{
    height: 100%;
    width: 100%;
    background: #F3E4D9;
    padding-right: 0px !important;
    }                               
                                    
    #main {
        position: relative;
        min-height: 700px;
    }
    header {
        background: #322E2D;
        height: 70px;
        width: 100%;
        display: table;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        z-index: 99;
    }
    header .container {
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }

    .menu_bar{
        display: none;

    }

    .header-logo {
        float: left;
        height: 100%;
        display: inline-block;
        text-align: center;
        position: relative;
        z-index: 2;
    }
    #menu{
        display: block;
    }

    #menu ul.top-menu {
        list-style: none;
        padding: 0;
        margin: 0;
        display: block;
        display: flex;
        justify-content: center;

    }

    #menu ul.top-menu li {
        display: inline-block;
        float: left;
        margin: 0;
        margin-right: 10px;
        position: relative;
        hover color: #E75A3A;
    }

    #menu .sub-container ul.sub-menu li:hover a{ background: #E75A3A !important; color: #fff !important;}
    #menu ul.top-menu li:hover .sub-container ul.sub-menu li a{ color: #ccc;}
    #menu ul.top-menu li:hover a{color: #fff; background: #E75A3A;}


    



    #menu ul.top-menu li a {
        height: 60px;
        line-height: 60px;
        margin: 0;
        padding: 0 15px;
        text-align: center;
        font-size: 25px;
        font-weight: 400;
        color: rgba(255,255,255,0.7);
        background: rgba(255,255,255,0.05);
        border-radius: 3px;
        display: inline-block;
        border-left: none;
        position: relative;
        margin: 23px 0;
    }


    #menu ul.top-menu li a span.li-text {
        display: block;
        text-align: center;
    }

    #logo {
        background-image: url(../imagenes/logo.png);
        background-position: 50% 25%;
        background-size: cover;
        background-size: cover;
        height: 161px;
        width: 207px;
        border-radius: 31px;
        margin: 0px 21px;
        display: inline-block;
    }



    a {
        color: #333;
        text-decoration: none !important;
        outline: none;
        -moz-outline: none;
    }

    #top-user {
        float: right;
        height: 198px;
        padding: 50px 25px;
        position: relative;
        z-index: 2;

    }

    /*separacion entre menu y contenido*/        
    .headerPad {
        height: 200px;
    }

    #marginLogin{
        margin-top: 74px;
        margin-left: 12%;
    }

    #loginPop{
        color: white;
        font-size: 42px;
        font-family: -webkit-pictograph;
    }

    .letraLogin{
     font-size: 0.78em !important;
    }    
    #HitBee{
        background-image: url(../imagenes/FotoHit.png);
        background-repeat: no-repeat;
        background-position: bottom;
        height: 87px;
        width: 285px;
        display: inline-block;
    }
        
    
    #tituloModal{    font-family: -webkit-body;
    font-size: 30px;}
    
    

                                            /*MENU RESPONSIVEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE*/
    .navResponsive {
            display: none;
            background:#023859;
            z-index:1000;
            max-width: 1000px;
            width:95%;
            margin:20px auto;
    }

    .ulResponsive {
            list-style:none;
    }

    .liResponsive {
            display:inline-block;
            position: relative;
    }

    .liResponsive:hover {
            background:#E6344A;
    }

    .aResponsive{
            color:#fff;
            display:block;
            text-decoration:none;
            padding: 20px;
    }

    .spanResponsive{
            margin-right:10px;
    }


#frasesMotivadoras{
    border-radius: 6px;
    padding: 2px;
    display: block;
border: 2px solid cadetblue;
font-size: 17px;
    font-style: italic;
margin-top: 12px
}



                                                    /* BODYYYYYYYYYYYYYYYYYYYYYYYYYY*/
                        
    .fotoBack{
    background-image: url(../imagenes/Gym-desktop-background.jpg);
    background-size: cover;
    background-attachment: fixed
    }                  
                                                    
    .bodyEjercicios{
       padding-top: 40px;
       padding-bottom: 70px;
    }
                                                    
                                                    
    #bodyText div{
        font-size: 51px;
        padding-bottom: 6px;
        font-family: unset;
        margin: 0 auto;
        width: 24%;
        text-shadow: black 0.1em 0.1em 0.2em;
            color: lavenderblush;
    }
                                                    
    .bordeChuloAbajo{margin: 0px auto; font-size: 20px; border: 3px #e6e6e6 solid}
    .bordeChuloAbajo:hover{
          border-bottom:3px solid ;
          border-bottom-color: blue;  }

    .bordeChulo{
        border:3px white solid ;
        margin: 0px;
        padding: 0%;
        width: 354px;
        height: 278px;
        border:3px white solid ;
        background-repeat: no-repeat;
        background-size: cover;
        float: left;
        font-size: 50px;
        border-radius: 15px;
    }
    .bordeChulo:hover{
        border:3px solid ;
        border-color: blue;
        margin: 0px;

    }

    .bordeChulo1{
        border:3px white solid ;
        border-radius: 15px;
    }
    .bordeChulo1:hover{
        border:3px solid ;
        border-color: blue;
        margin: 0px;

    }
    
    .info{
        margin: 0%;
        width: 50vh;
        height: 50vh;
        background-color:rgba(31,31,31,0.9);
        color: white;
        padding-top: 5%; 
        /*Animacion background*/
        -webkit-transition: opacity 0.4s;
        -moz-transition: opacity 0.4s; 
        opacity: 0;
        border-radius: 15px;
    }
    .info p{
        /*Animacion texto*/
        overflow: hidden;
        -webkit-transition: margin 0.4s;
        -moz-transition: margin 0.4s;
    }

    .info:hover p{
        overflow: hidden;
        margin-left: 15%;
        text-align: center;
    }
    .bordeChulo:hover *.info{

     opacity: 1; 

    }

    /*para quitar cuando se marca la url*/
    a{text-decoration: none; color:black;}
    a:hover{text-decoration: none; color:black;}

    
    
    .Pecho{margin-right: 0px; }
    .Pecho div p{margin: -4px 32px 18px;}
    .Pecho div .series{color: white;text-align: left;text-align: -webkit-center;width: 40%;float: left;margin: auto;margin-left: 34px;font-size: 36px}
    .Pecho div .tiempo{color: white;text-align: left;text-align: -webkit-center;width: 40%;float: left;margin: auto;font-size: 36px}
    
    .Hombro{margin-right: 0px;}
    .Hombro div p{margin: -7px 32px 18px;}
    .Hombro div .series{color: white;text-align: left;text-align: -webkit-center;width: 40%;float: left;margin: auto;margin-left: 34px;font-size: 36px}
    .Hombro div .tiempo{color: white;text-align: left;text-align: -webkit-center;width: 40%;float: left;margin: auto;font-size: 36px}

    
    
    .Brazo{margin-right: 0px;}
    .Brazo div p{margin: 17px 32px 45px; font-size: 55px}
    .Brazo div .series{color: white;text-align: left;text-align: -webkit-center;width: 40%;float: left;margin: auto;margin-left: 34px;font-size: 36px}
    .Brazo div .tiempo{color: white;text-align: left;text-align: -webkit-center;width: 40%;float: left;margin: auto;font-size: 36px}

    .Abs{margin-left: 211px !important;clear: both}
    .Abs div p{margin: 17px 32px 45px;font-size: 55px}    
    .Abs div .series{color: white;text-align: left;text-align: -webkit-center;width: 40%;float: left;margin: auto;margin-left: 34px;font-size: 36px}
    .Abs div .tiempo{color: white;text-align: left;text-align: -webkit-center;width: 40%;float: left;margin: auto;font-size: 36px}

    .Pierna{}
    .Pierna div p{margin: 17px 32px 45px;font-size: 55px}
    .Pierna div .series{color: white;text-align: left;text-align: -webkit-center;width: 40%;float: left;margin: auto;margin-left: 34px;font-size: 36px}
    .Pierna div .tiempo{color: white;text-align: left;text-align: -webkit-center;width: 40%;float: left;margin: auto;font-size: 36px}


    
    
                                                        /* TRIANGULO Y BOCADILLO*/

    
    
    .divNiveles1, .divNiveles2, .divNiveles3, .divNiveles4, .divNiveles5{clear: both;width: 96.5%;border: solid 5px white;margin: 0px 0px 15px 15px;float: left;}

    
    .triangulo1,.triangulo2,.triangulo3,.triangulo4,.triangulo5 {width: 0;height: 0;clear: both;border-right: 50px solid transparent;border-left: 50px solid transparent;border-bottom: 50px solid white;}


    #tema0{}
    #tema1{}
    #tema2{}
    #tema3{}
    #tema4{}
    
    
    
                                                            /*FOTERRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR*/
    footer{
    padding: 20px 0 20px;
    color: #fff;
    background: #322E2D;
    }
    
    .footer1{
            position: absolute;bottom: 0;width: 100%;
        }
        
    .footer2{
            position: absolute;bottom: 0;width: 100%;
        }    
    .footer-home {
    padding: 0;
    font-size: 22px;
    color: white;    
    }
                                                            
                                                            
                                                            
                                                            /*EJERCICIOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOS*/
    #textoAyuda{
        display: none;
        border: 2px solid #C3E0E8;
    }
    
    #botonAyuda:hover + #textoAyuda{border: 2px solid grey}
    

    .contenedorEjercicio{height: 500px}
    
         #contenedorEjercicio{margin-bottom: 50px}
    
    .bordesCirculares{
     border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border: 0px solid #000000;}
    
    
    hr{border: 0; height: 2px; text-align: center; background-image: linear-gradient(to left, #fff, #000, #fff);
    }
    
    .contenedorTemporizador{
        position: relative;
    z-index: 1000;
    margin-top: -119px;
    margin-bottom: 100px;
    }
    
    
                                                        /*USUARIO FUERTE*/
    .DivCalendario{
    background-color: aliceblue;
    border: solid 2px burlywood;
    }
    
    .barraOtroEjercicio{
        display: flow-root;
padding-top: 12px    }
    
    .contenidoRepes{
        padding-right: 6px;
        padding-left: 14px;
        font-size: 20px;
    }
    
    .contenidoNombre{font-size: 16px}

    
    .contenidoMinutos{
        padding-right: 6px;
        padding-left: 14px;
        font-size: 20px;}
    
    .contenidoSegundos{
        padding-right: 6px;
        padding-left: 14px;
        font-size: 20px;}
    
    
    #OtroEjercicio{   
    background-color: white;
    border: none;
    width: 19.64px;
    height: 25px;}
    
    .icon-pluscss{    
    font-size: 25px;
    position: inherit;
    z-index: 1000;
    }
    
    #exampleModalLongTitle{font-family: -webkit-body;
    font-size: 20px;}
    
    .ayudaComun{    
    background-color: darkgrey;
    }
    
    
    .labelNombre{float: left;padding-top: 7px;margin-bottom: 0;text-align: right;}
    .divLabelNombre{float: left}
    
    .contenedorUsuarioFuerte{}


    
    /*¡CAMBIARA CUANDO ESTE EN PANTALLA MAS DE 1299*/
    @media screen and (max-height: 901px) {
    .footer1{position: unset;margin-top: 150px;}
    
    }
    
    

                                                /*/ Tablets en horizonal y escritorios normales*/
                                                   /*------------------------------------------------------------------------- /*/
    @media (max-width: 1299px) { 

       
        
        
        #loginPop{
                font-size: 36px;
            }
    }
    
    
    .contenedorUsuarioFuerte{margin-bottom: 50px}
    
                                                                /* start of large tablet styles */
    @media (max-width: 1199px) { 
        
        
        
        .contenedorEjercicio{height: 550px}
        
        .headerPad{
            height: 92px;
        }

        .letraLogin{
            font-size: 30px;

        }
        .menu_bar{
            display: block;
            margin: 13px 0px;
            font-size: 40px;
        }

        .header-logo{
            display: none;
        }

        #menu{
            display: none;
        }

        #top-user {
            height: auto;
            padding: 0px;
            margin: 20px 0px;
        }

        #marginLogin{margin: auto}

        #iconoLogin{
            font-size: 39px;
            vertical-align: text-top;
            margin-right: 3px;
        }

        .iconoMenu{
            font-size: 42px;
            vertical-align: text-top;
            margin-right: 3px; 
            margin-left: 23px;

        }

        #loginPop{margin-left: 18%}
        
        
        
        
        

                                                                   /* MENU RESPONSIVE   */

        .navResponsive{
            display: block;
            width: 50%;
            position: absolute;
            right:100%;
            margin: 0;
        }

        .liResponsive{
            display: block;
            border-bottom:1px solid rgba(255,255,255,.5);
        }

        .aResponsive{
            display: block;
        }

        .ulResponsive{
            margin-top: 0;
            margin-bottom: 0px;
            margin-left: -41px;
            
            
        }
        
                                                                   /* BODY  */
         
        #bodyText div {width: 30%;}                                                          
                                                                   
        .Abs{margin-left: 15px !important;clear: none}
                                                           
        .Pecho {margin-left: 105px !important;}
        
        .Brazo {margin-left: 105px !important;}    
    
        .Pierna {margin-left: 296px !important;}    
        
        #texto1 {width: 259px !important;}

        
        
        
    .footer1{
            position: absolute;bottom: 0;width: 100%;
        }  
        
        
        .footer2{
            position: absolute;bottom: 0;width: 100%;
        }         
    }
    
    
    
    
            /*¡CAMBIARA CUANDO HEIGHT HASTA 1199*/
    @media screen and (max-height: 825px) {
    .footer1{position: unset;margin-top: 150px;}
    
    }
    
    @media screen and (max-height: 850px) {
    .footer2{position: unset;margin-top: 150px;}
    
    }    
    
                                                                    /* start of large tablet styles */
    @media (max-width: 991px) { 


     
     
     
         .footer1{
            position: unset;margin-top: 100px;
        }
        
        
        .footer2{
            position: unset;margin-top: 100px;
        }     
         .contenedorEjercicio{height: 100%;min-height: 650px}

         #contenedorEjercicio{margin-bottom: 50px}
         
        .letraLogin{
            display: none;
        }
        
        #marginLogin{
            margin: 0px 42%;    
        }

        #HitBee{
            height: 74px;
            margin: 6px 0px;
        }

        #loginPop{
            margin-left: auto;
        }

            
                                                                   /* BODY  */
                                                
                                                                   
        #bodyText div {width: 39%;font-size: 51px}                                                          
        
        .bordeChulo {
            width: 269px;
            height: 212px;
            font-size: 39px;
        }
        
       
   
        #iconoLogin{margin-right: -40px;
        font-size: 62px !important;
        margin-top: -5px;
        
        }
        
    
        
        
        .Pecho {margin-left: 80px !important;}
        
        .Pecho div p{margin: -4px 31px 15px;}
        .Pecho div .series{font-size: 28px}
        .Pecho div .tiempo{font-size: 28px}

        .Hombro div p{margin: -7px 32px 15px;}
        .Hombro div .series{font-size: 28px}
        .Hombro div .tiempo{font-size: 28px}


        .Brazo {margin-left: 80px !important;}    
        .Brazo div p{margin: 13px 32px 35px;font-size: 46px;}
        .Brazo div .series{font-size: 28px}
        .Brazo div .tiempo{font-size: 28px}

        .Abs div p{margin: 13px 32px 32px;font-size: 46px;}    
        .Abs div .series{font-size: 28px}
        .Abs div .tiempo{font-size: 28px}

        .Pierna {margin-left: 225px !important;}  
        .Pierna div p{margin: 13px 32px 32px;font-size: 46px;}
        .Pierna div .series{font-size: 28px}
        .Pierna div .tiempo{font-size: 28px}

        
        
        
        
        .logo{clear: both}
        #texto1{width: auto !important}
        #titulo2{margin-top: 20px !important}
        .clearBoth{clear: both}
        
        .texto1-1,.texto1-3,.texto1-5,.texto1-7,.texto1-9,.texto1-11,.texto1-13,.texto1-15,.texto1-17,.texto1-19,.texto1-21,.texto1-23,.texto1-25,.texto1-27,.texto1-29,.texto1-31,.texto1-33,.texto1-35,.texto1-37,.texto1-39,.texto1-41,.texto1-43,.texto1-45,.texto1-47{float: left;clear: both;margin-left: 60px}
        .texto1-2,.texto1-4,.texto1-6,.texto1-8,.texto1-10,.texto1-12,.texto1-14,.texto1-16,.texto1-18,.texto1-20,.texto1-22,.texto1-24,.texto1-26,.texto1-28,.texto1-30,.texto1-32,.texto1-34,.texto1-36,.texto1-38,.texto1-40,.texto1-42,.texto1-44,.texto1-46,.texto1-48{float: right;margin-right: 60px}
        
        
        
        
        
        
        .divNivelBocata2{margin-top: 200px}
        .divNivelBocata3{margin-top: 200px}
        
        
        
                                                    /*USUARIO FUERTE*/
        .DivCalendario{margin-bottom: 40px}
        #series{margin-bottom: 40px}
        
        
        .labelEjercicio,.labelRepeticion{width: 33%}
        
        #nombre{}
        #repeticiones{}          
    
    
    .contenedorUsuarioFuerte{height: auto}
    
    
    .divNiveles1,.divNiveles2,.divNiveles3,.divNiveles4,.divNiveles5{margin-left: 5px}
    
    #frasesMotivadoras{
    margin-top: 20px;
    margin-bottom: 20px
    }
    
    
    }
    
    
    
    
                                                                /* start of large tablet styles */
    
    @media screen and (max-width: 767px) {
        
   
        
    #bodyText div {
        width: 50%;
        font-size: 50px;
    }
        
    .Pecho{margin-left: 0px !important;;}
        
    .Brazo {margin-left: 0px !important;;}    
    
    .Pierna {margin-left: 147px !important;}

     
     .container {
        width: 591px;
    }
    
    
        .texto1-1,.texto1-3,.texto1-5,.texto1-7,.texto1-9,.texto1-11,.texto1-13,.texto1-15,.texto1-17,.texto1-19,.texto1-21,.texto1-23,.texto1-25,.texto1-27,.texto1-29,.texto1-31,.texto1-33,.texto1-35,.texto1-37,.texto1-39,.texto1-41,.texto1-43,.texto1-45,.texto1-47{float: left;clear: both;margin-left: 20px;font-size: 15px}
        .texto1-2,.texto1-4,.texto1-6,.texto1-8,.texto1-10,.texto1-12,.texto1-14,.texto1-16,.texto1-18,.texto1-20,.texto1-22,.texto1-24,.texto1-26,.texto1-28,.texto1-30,.texto1-32,.texto1-34,.texto1-36,.texto1-38,.texto1-40,.texto1-42,.texto1-44,.texto1-46,.texto1-48{float: right;margin-right: 20px;font-size: 15px}     
   
    
    }

    
    
                                                    /*USUARIO FUERTE*/
    
    
                                                            /* start of large tablet styles */
     
    
    @media screen and (max-width: 605px) {
         
        
    .navResponsive{
        width: 100%;
    }    
        
    .bordeChulo {
        width: 370px;
        height: 292px;
        font-size: 50px;
    }    
    
    #bodyText div {
    width: 73%;
    font-size: 50px;
    }
        
    .Pecho {margin-left: 0px !important;}
    .Pecho div p{margin: -4px 50px 18px;}
    .Pecho div .series{font-size: 36px}
    .Pecho div .tiempo{font-size: 36px}
    
    .Hombro {margin-left: 0px !important;}
    .Hombro div p{margin: -7px 50px 18px;}
    .Hombro div .series{font-size: 36px}
    .Hombro div .tiempo{font-size: 36px}

    .Brazo {margin-left: 0px !important;}    
    .Brazo div p{margin: 17px 50px 45px; font-size: 55px}
    .Brazo div .series{font-size: 36px }
    .Brazo div .tiempo{font-size: 36px }

    .Abs {margin-left: 0px !important;}    
    .Abs div p{margin: 17px 50px 45px;font-size: 55px}    
    .Abs div .series{font-size: 36px}
    .Abs div .tiempo{font-size: 36px}

    .Pierna {margin-left: 0px !important;}
    .Pierna div p{margin: 17px 50px 45px;font-size: 55px}
    .Pierna div .series{font-size: 36px}
    .Pierna div .tiempo{font-size: 36px}    
     
    
     .container {
        width: 400px;
    }        
        
   
    
    
    
      .texto1-1,.texto1-3,.texto1-5,.texto1-7,.texto1-9,.texto1-11,.texto1-13,.texto1-15,.texto1-17,.texto1-19,.texto1-21,.texto1-23,.texto1-25,.texto1-27,.texto1-29,.texto1-31,.texto1-33,.texto1-35,.texto1-37,.texto1-39,.texto1-41,.texto1-43,.texto1-45,.texto1-47{float: none;clear: both;margin-left: 0px;font-size: 15px}
       .texto1-2,.texto1-4,.texto1-6,.texto1-8,.texto1-10,.texto1-12,.texto1-14,.texto1-16,.texto1-18,.texto1-20,.texto1-22,.texto1-24,.texto1-26,.texto1-28,.texto1-30,.texto1-32,.texto1-34,.texto1-36,.texto1-38,.texto1-40,.texto1-42,.texto1-44,.texto1-46,.texto1-48{float: none;clear: both;margin-right: 0px;font-size: 15px}     
   
.divNivelBocata2 {
    margin-top: 60px;
}
    
       
.divNivelBocata3 {
    margin-top: 60px;
}
    
    

#HitBee{
    background-size: contain;
    height: 50px;
    width: -webkit-fill-available;
    margin-top: 19px;
    
}



.DivCalendario{width: 100%}

.divPrimeroCalendario{width: 0%}


#series{width: 100%}
.divPrimeroSeries{width: 0%}
.divSegundoSeries{width: 0%}

.ejerciciosCreados{width: 70%}


.ayudaComun{    
width: 14%    }

.borrarComun{width: 14%}

#HitBee{display: block}    
    }
                                                             /* start of large tablet styles */
    
    @media screen and (max-width: 440px) {
    
      
    
        
    .bordeChulo {
        width: 298px;
        height: 236px;
            font-size: 39px;
    }    
    
    
    #bodyText div {
     width: 67%;
     font-size: 37px;
    }
    
     
     .container {
        width: 330px;
    }    
    
    
#HitBee{display: none}    
    
#iconoLogin{    margin-right: -55px;}

#top-user{width: 56%}
    
    .divNiveles1,.divNiveles2,.divNiveles3,.divNiveles4,.divNiveles5{margin-left: 0px}
    
    
    
    
        .Pecho div .series{font-size: 28px}
        .Pecho div .tiempo{font-size: 28px}

        .Hombro div .series{font-size: 28px}
        .Hombro div .tiempo{font-size: 28px}


        .Brazo div .series{font-size: 28px}
        .Brazo div .tiempo{font-size: 28px}

        .Abs div .series{font-size: 28px}
        .Abs div .tiempo{font-size: 28px}

        .Pierna div .series{font-size: 28px}
        .Pierna div .tiempo{font-size: 28px}
    
    }
    
    
    
    
                                                             /* PRUEBA CRONOMETRO */
.wrapper {
  position: relative;
  margin: 40px auto;
  background: white;
  
}

.wrapper, .wrapper * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  width: 114px;
  height: 114px;
  background-color: lavenderblush;
  margin-top: 65px;
}

.wrapper .pie {
  width: 50%;
  height: 100%;
  transform-origin: 100% 50%;
  position: absolute;
    background: lavenderblush;
    border: 5px solid #5bc0de;
  
}

.wrapper .spinner {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  z-index: 200;
  border-right: none;
  animation: rota 30s linear infinite;
}

.wrapper:hover .spinner,
.wrapper:hover .filler,
.wrapper:hover .mask {
  animation-play-state: running;
}

.wrapper .filler {
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  left: 50%;
  opacity: 0;
  z-index: 100;
  animation: opa 30s steps(1, end) infinite reverse;
  border-left: none;
}

.wrapper .mask {
  width: 50%;
  height: 100%;
  position: absolute;
  background: inherit;
  opacity: 1;
  z-index: 300;
  animation: opa 30s steps(1, end) infinite;
}
/*para pausar la animacion del crono*/
.paused{
        -webkit-animation-play-state: paused !important; 
        -moz-animation-play-state: paused !important; 
        -o-animation-play-state: paused !important;
        animation-play-state: paused !important;
}

@keyframes rota {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes opa {
  0% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

